<!-- 作业荚 -->
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>师道慧享</title>
	<link rel="stylesheet" type="text/css" href="../public/css/lib/iview.css">
	<link rel="stylesheet" type="text/css" href="../public/css/lib/cube.min.css">
	<link rel="stylesheet" type="text/css" href="../public/css/lib/mintUi.css">
	<link rel="stylesheet" type="text/css" href="../public/css/src/specialColumnFile.css" />
</head>

<body>
	<div class="specialColumnFile" v-cloak>

		<cube-tab-bar v-model="grade" show-slider inline @click="clickGrade">
			<cube-tab v-for="(item, index) in gradeData" :label="item.id" :key="item.id">${item.title}</cube-tab>
		</cube-tab-bar>
		<div class="subjectBtns">
			<mt-button :class="currentIndex == index ? 'active' : 'unActive'" type="primary" v-for="(item,index) in subjectData" size="small" @click="clickSubject(index)">${item.title}</mt-button>
		</div>
		<div class="testpaper_list">
			<a class="testpaper" :href="item.downloadFile != null ? item.downloadFile : 'javascript:void(0)'" v-for="item in specialColumnData" @click="clickDownload(item.downloadFile)">
				<p class="title">${item.name}</p>
				<img class="triangle" src="../public/images/triangle_h.png">
			</a>
            <p class="nomore" v-model="showNomore">暂无更多数据！</p>
		</div>
	</div>

	<script type="text/javascript" src="../public/js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="../public/js/lib/vue.min.js"></script>
	<script type="text/javascript" src="../public/js/lib/iview.min.js"></script>
	<script type="text/javascript" src="../public/js/lib/cube.min.js"></script>
	<script type="text/javascript" src="../public/js/lib/mintUi.js"></script>
	<script type="text/javascript" src="../public/js/src/config.js"></script>
	<script type="text/javascript" src="../public/js/src/specialColumnFile.js"></script>
</body>

</html>
